* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  margin-top: 70px;
}

form div label {
  display: block;
}

form div > * {
  width: 100%;
}

form div:last-child {
  color: red;
  margin: 5px;
}

form div *:nth-child(2) {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px lightgray;
  outline: none;
}

form > div {
  margin: 20px 0;
}

.submit-btn {
  width: 100%;
}
